In [6]:
# Defines a "repeat" function that takes 2 arguments.
def repeat(s, exclaim):
    """
    Returns the string 's' repeated 3 times.
    If exclaim is true, add exclamation marks.
    """

    result = s + s + s # can also use "s * 3" which is faster (Why?)
    if exclaim:
        result = result + '!!!'
    return result

def main():
    if name == 'Guido':
        print(repeeeet(name) + '!!!')
    else:
        print(repeat(name))

In [9]:
main()

NameError: name 'name' is not defined

In [8]:
del name

In [6]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A': [1, 1, 2, 2],'B': [1, 2, 3, 4],'C': np.random.randn(4)})
display(df)

   A  B         C
0  1  1  2.560997
1  1  2  0.430175
2  2  3 -0.102434
3  2  4 -0.908577

In [13]:
x='B'

In [15]:
 df.groupby('A').agg({f'{x}': ['min', 'max'], 'C': 'min'})

    B             C
  min max       min
A
1   1   2  0.430175
2   3   4 -0.908577